name: Lint Commit Messages
on:
  pull_request:
    types: ['opened', 'edited', 'reopened', 'synchronize']

jobs:
  commitlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - run: echo "module.exports = {extends:['@commitlint/config-conventional']}" > ./commitlint.config.js
      #- uses: wagoid/commitlint-github-action@v2
      - name: Install Dependencies
        run: npm install @commitlint/config-conventional && npm install @commitlint/cli
      - run: ls
      - run: npx commitlint
      - uses: JulienKode/pull-request-name-linter-action@v0.2.0
        
