name: Lint Commit Messages
on: [pull_request]

jobs:
  commitlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: wagoid/commitlint-github-action@v2
      - uses: JulienKode/pull-request-name-linter-action@v0.2.0
        run: echo "module.exports = {extends: ['@commitlint/config-conventional']}" > commitlint.config.js
        
